{
  "id": "7110000000000000011",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Site",
  "entityIdParts": [
    "7151000000000000001"
  ],
  "displayNamePropertyId": "7151000000000000002",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7151000000000000001",
      "name": "SiteId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7151000000000000002",
      "name": "SiteName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7151000000000000003",
      "name": "EnterpriseId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
