{
  "id": "7110000000000000002",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "WorkResponse",
  "entityIdParts": [
    "7121000000000000001"
  ],
  "displayNamePropertyId": "7121000000000000001",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7121000000000000001",
      "name": "ResponseId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7121000000000000002",
      "name": "RequestId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7121000000000000003",
      "name": "WorkCenterId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7121000000000000004",
      "name": "QuantityProduced",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "7121000000000000005",
      "name": "QuantityRejected",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "7121000000000000006",
      "name": "Status",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
