{
  "id": "7110000000000000010",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Enterprise",
  "entityIdParts": [
    "7141000000000000001"
  ],
  "displayNamePropertyId": "7141000000000000002",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7141000000000000001",
      "name": "EnterpriseId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7141000000000000002",
      "name": "EnterpriseName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
