{
  "id": "7110000000000000003",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "QualityTest",
  "entityIdParts": [
    "7131000000000000001"
  ],
  "displayNamePropertyId": "7131000000000000001",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7131000000000000001",
      "name": "TestId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7131000000000000002",
      "name": "ResponseId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7131000000000000003",
      "name": "WorkUnitId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7131000000000000004",
      "name": "Result",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7131000000000000005",
      "name": "Severity",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7131000000000000006",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    }
  ]
}
