{
  "id": "7110000000000000013",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "WorkCenter",
  "entityIdParts": [
    "7171000000000000001"
  ],
  "displayNamePropertyId": "7171000000000000002",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7171000000000000001",
      "name": "WorkCenterId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7171000000000000002",
      "name": "WorkCenterName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7171000000000000003",
      "name": "AreaId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
