{
  "id": "7110000000000000014",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "WorkUnit",
  "entityIdParts": [
    "7181000000000000001"
  ],
  "displayNamePropertyId": "7181000000000000002",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7181000000000000001",
      "name": "WorkUnitId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7181000000000000002",
      "name": "WorkUnitName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7181000000000000003",
      "name": "WorkCenterId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
