{
  "id": "7110000000000000012",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Area",
  "entityIdParts": [
    "7161000000000000001"
  ],
  "displayNamePropertyId": "7161000000000000002",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "7161000000000000001",
      "name": "AreaId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7161000000000000002",
      "name": "AreaName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "7161000000000000003",
      "name": "SiteId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
