{
  "namespace": "usertypes",
  "id": "8110000000000000002",
  "name": "validatesResponse",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "7110000000000000003"
  },
  "target": {
    "entityTypeId": "7110000000000000002"
  }
}
