{
  "namespace": "usertypes",
  "id": "8110000000000000001",
  "name": "fulfillsRequest",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "7110000000000000002"
  },
  "target": {
    "entityTypeId": "7110000000000000001"
  }
}
