{
  "namespace": "usertypes",
  "id": "8110000000000000013",
  "name": "containsWorkUnit",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "7110000000000000013"
  },
  "target": {
    "entityTypeId": "7110000000000000014"
  }
}
