{
  "namespace": "usertypes",
  "id": "8110000000000000011",
  "name": "containsArea",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "7110000000000000011"
  },
  "target": {
    "entityTypeId": "7110000000000000012"
  }
}
