{
  "autoRefresh": {
    "enabled": true
  },
  "baseQueries": [],
  "tiles": [],
  "dataSources": [],
  "pages": [
    {
      "name": "Machine performance overview",
      "id": "be683a2b-4119-483f-a477-5e7ac959b8c8"
    }
  ],
  "parameters": [
    {
      "kind": "duration",
      "id": "b6d3f809-8fcb-4a9e-8fa8-0c6dfaf25f6d",
      "displayName": "Time range",
      "description": "Time range shared by dashboard visuals.",
      "beginVariableName": "_startTime",
      "endVariableName": "_endTime",
      "defaultValue": {
        "kind": "dynamic",
        "count": 1,
        "unit": "hours"
      },
      "showOnPages": {
        "kind": "all"
      }
    }
  ],
  "queries": [],
  "schema_version": "52",
  "title": "Factory IQ Real-Time Machine Performance"
}
